@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */

.display-flex{
    display: flex;
}

.btn-primary {
    color: white;
    background-color: black;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 10px 47px;
}

/* color */
.orange {
    color: #FEA301;
}
.skyblue {
    color: #01ACFD;
} 
.light-skyblue {
    color: #05D4DF;
}
.blue-violet {
    color: #5D58EF;
}




/* navbar section style */

.navbar {
    justify-content: space-around;
    margin: 20px auto;
    align-items: center;
}

.navbar-title {
    align-items: center;
}

.nav-links {
    gap: 32px;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-link {
    text-decoration: none;
}
.nav-item {
    list-style: none;
}

.navber-btn {
    color: white;
    background-color: #FEA301;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
}


/* Banner section style */





/* small devices responsive media query */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
}