@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */

.display-flex{
    display: flex;
}
header {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary {
    color: white;
    background-color: black;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
}

/* navber color */
.orange {
    color: #FEA301;
}
.skyblue {
    color: #01ACFD;
} 
.light-skyblue {
    color: #05D4DF;
}
.blue-violet {
    color: #5D58EF;
}
/* curriculum color */
.color1{
    color: #64C8FF;
}
.color2 {
    color: #F0AA00;
}
.color3 {
    color: #8700FF;
}

/* linear-gradient color */

.linear-1 {
   background-image: linear-gradient(#DEF5FF, #FFFFFF);
}
.linear-2 {
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
}
.linear-3 {
    background-image: linear-gradient(#EEE1FF, #FFFFFF);
}





/* navbar section style */

.navbar {
    justify-content: space-around;
    margin: 20px auto;
    align-items: center;
}

.navbar-title {
    align-items: center;
}

.nav-links {
    gap: 32px;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-links a:hover {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
}

.nav-link {
    text-decoration: none;
}
.nav-item {
    list-style: none;
}

.navber-btn {
    color: white;
    background-color: #FEA301;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
}
.navber-btn:hover {
    background-color: skyblue;
    box-shadow: 0 0 3px skyblue;
}

.open-menu {
    visibility: hidden;
    font-size: 2rem;
}



/* Banner section style */

.banner {
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-contain {
    font-size: 1.25rem;
    margin-bottom: 24px;
}

#banner-img {
    width: 100%;
}
.banner-btn:hover {
    background-color: gray;
    box-shadow: 0 0 3px silver;
}


/* curriculum section style */

.curriculum {
    background-image: url(../assets/bg.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.curriculum-main-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 60px 0 80px 0;
}

.curriculum-container {
    margin: auto 140px;
    gap: 28px;
}

.curriculum-box {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    padding: 50px;
}

.curriculum-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
}
.curriculum-contain{
    font-size: 1rem;
    color: rgba(128, 128, 128, 1);
    margin-top: 33px;
}

.curriculum-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 10px;
    margin-top: 33px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.curriculum-btn:hover {
    color: rgba(255, 0, 0, 0.753);
    box-shadow: 0 0 3px rgb(219, 215, 215);
    border-radius: 4px;
}

.curriculum-curcal {
    gap: 10px;
    margin: 80px auto;
}
.curriculum-icon {
    width: 60px;
    height: 60px;
    color: white;
    font-size: 1.5rem;
    background-color: #FEA301;
    border-radius: 30px;
    border: none;
}
.curriculum-icon:hover {
    background-color: skyblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.482);
}


/* Our Stories */

.our-stories {
    background-image: url(../assets/bg.png), linear-gradient(to top, rgba(254, 161, 1, 0.274), rgba(255, 255, 255, 1));
    background-size: cover;
    justify-items: center;
}
.stories-title {
    font-size: 2.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 80px auto;
}
.stories-container {
    gap: 20px;
    justify-content: center;
}


    /* box1 */
.story-box1 {
    background-color: white;
    border-radius: 16px;
}

.box1-container {
    display: flex;
    flex-direction: column;
}
.box1-btn {
    background-color: #64C8FF;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 18px;
    border-radius: 48px;
    border: none;
}
.box1-btn-design {
    margin-left: 40px;
    margin-top: -30px;
}

.box1-contain{
    padding: 40px;
}
.box1-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.box1-subtitle {
    font-size: 1rem;
}


    /* box2 */

.story-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-btn {
    background-color: #95B226;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 18px;
    border-radius: 48px;
    border: none;
}
.box-btn {
    margin-left: 35px;
    margin-top: -20px;
}

.story2-container {
    font-size: 1rem;
    font-weight: 700;
    padding: 40px;
}

.stories-btn {
    margin: 80px auto;
}
.stories-btn:hover {
    background-color: slategray;
    box-shadow: 0 0 5px black;
}



#story3-color {
    background-color: #5D58F0;
}
.bg-color {
    background-color: white;
    border-radius: 16px;
}
#stories-img {
    border-radius: 16px 16px 0 0;
    width: 100%;
}

/* footer section style */

footer {
    color: white;
    background-color: #01ACFD;
    padding: 140px 180px;
    justify-content: space-around;
}
.footer-head-title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-left: 15px;
}
.footer-head-contain{
    font-size: 1.25rem;
    margin-top: 36px;
}


.footer-navber-titel {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-links a:hover {
    background-color: #f0f0f072;
    padding: 6px;
    border-radius: 4px;
}
.footer-l {
    text-decoration: none;
    color: white;
}


.footer-logo-titel {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 32px;
}






/* small devices responsive media query */

@media screen and (max-width: 576px) {
     
    .banner,
    .curriculum-container,
    footer,
    .stories-container
     {
        flex-direction: column;
    }
        /* banner */
    .banner {
        text-align: center;
        flex-direction:column-reverse;
        margin: 0 16px;
    }

        /* curriculum */
    .curriculum {
        margin: 0 16px;
    }
    .curriculum-container {
        gap: 15px;
        margin: 0;
    }
    .curriculum-main-title {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .curriculum-curcal {
        display: none;
    }

        /* Our Stories */
    .story-box1 {
        display: none;
    }
    .story-box2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .stories-container {
        margin: 0 16px;
    }
    .story-btn {
        font-size: .80rem;
        font-weight: 400;
        padding: 8px 13px;
        border-radius: 48px;
    }
    .stories-btn {
        justify-items: center;
    }
    .our-stories{
        align-items: center;
        justify-content: center;
    }
    
        /* footer */
    footer {
        padding: 20px;
        gap: 32px;
    }  
    
        /* navbar */
    .navbar {
        background-color: #05D4DF;
        justify-content: space-between;
        /* align-items: center; */
        margin: 0;
        border-bottom: 2px solid orange;
        padding: 0 16px;
    }
    .navbar-title {
        /* background-color: #05D4DF; */
        margin: 12px 0;
    }
    .nav-links, .navber-btn {
        display: none;
    }
    .open-menu {
        visibility: visible;
        font-size: 2rem;
    }
}